@use 'mixins' as *;

.formContainer{
    margin-bottom: 8%;
    @include height-width(50%, 35%);
    font-family: 'Nunito', sans-serif;


}
.to-register-div{
    @include make-flex();
    width: 100%;
    justify-content: end;
    font-size: 19px;
    margin-top:3%;

    .registerButton{
        font-family: 'Nunito', sans-serif;
        font-size: 19px;
        border: none;
        background: none;
        margin-left: 2%;
        text-decoration: underline;
        cursor: pointer;
    }
    .registerButton:hover{
        color: rgb(8, 89, 89);
    }
}
  //aqui comienza el segundo archivo scss login.scss

form{
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    @include make-flex();
    flex-direction: column;
    text-align: center;
    border-bottom: black solid 1px;
    padding-bottom: 2%;
}
.loginUserName, .loginPassWord, #emailRegister, #userNameRegister, #passWordRegister{
    @include height-width(2.1em, 80%);
    border: 2px solid #a2b0bd;
    border-radius: 7px;
    font-size: 20px;
    padding-left: 3%;
    color: #262626;
}
.email-text, .userLoginText{
    margin-top: 8%;
}

.loginButton, .registButton{
    border: 2px solid #f8f9fa;
    background-color: rgb(199, 202, 202);
    border-radius: 20px;
    font-size: 24px;
    @include height-width(40px, 28%);
    margin-top: 4%;
    cursor: pointer;
}
.loginButton:hover, .registButton:hover{
    background-color: rgb(154, 182, 182);
}

.logInButton{
    font-family: 'Nunito', sans-serif;
        font-size: 19px;
        border: none;
        background: none;
        margin-left: 2%;
        text-decoration: underline;
        cursor: pointer;
}
.logInButton:hover{
    color: rgb(8, 89, 89);
}
.welcomeText{
    font-size: 21px;
    margin-top: 2%;
    color: rgb(97, 191, 97);
}