@use 'mixins' as *;

.container{
    @include make-flex();
    @include height-width(100%, 100%);
    flex-direction: column;
    position: relative;
    overflow: visible;
    gap: 60px;

    .current-money-div{
        @include height-width(42%, 50%);
        @include make-flex();
        justify-content: start;
        flex-direction: column;
        font-family: 'Nunito', sans-serif;

        h1{
            font-size: 3em;
            color: rgb(17, 17, 17);
        }
        p{
            font-size:1.9em;
            font-weight: 1000;
            span{
            font-weight: 300;
            }
        }
        #balanceButtons{
            @include make-flex();
            @include height-width(15%, 100%);
        }
        .addMoney-button, .addMoney-button2{
            padding: 0px;
            margin-top: 2%;
            font-size: 20px;
            font-family: 'Nunito', sans-serif;
            @include height-width(50px, 19%);
            border: 2px solid #f8f9fa;
            background-color: rgb(199, 202, 202);
            border-radius: 20px;
            outline: none;
            cursor: pointer;
        }
        .addMoney-button:hover{
            background-color: rgb(154, 182, 182);
        }
        .addMoney-button2{
            margin-left: 5%;
        }
        .addMoney-button2:hover{
            background-color: rgb(191, 129, 129);

        }
        #inputInsertMoney, #inputWithdrawMoney{
            @include height-width(2.1em, 80%);
            background-color: #f8f9fa;
            border:none;
            border-bottom: 2px solid #393939;
            font-size: 29px;
            font-weight: 600;
            padding-left: 3%;
            color: #262626;
            outline: none;

        }

        #insertMoneyButton{
            margin-top: 5%;
            font-size: 20px;
            font-family: 'Nunito', sans-serif;
            @include height-width(50px, 65%);
            border: 2px solid #f8f9fa;
            background-color: rgb(199, 202, 202);
            border-radius: 20px;
            outline: none;
            cursor: pointer;
        }
        #insertMoneyButton:hover{
            background-color: rgb(122, 169, 169);
        }
        #formToInsertMoney, #formToWithdrawMoney{
            border: none;
        }

    }

}
