@use 'mixins' as *;

#movements-list{
    @include height-width(650px, 50%);
    text-align: center;
    overflow-y: auto;
    width: 50%;
    display: block;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    margin-bottom: 2%;
    padding:15px;
    position: relative;
    h3{
        font-size: 2em;
        margin: 10px 0;
    }
    ul{
        list-style: none;
        color: #303030;
        overflow-y: auto;
        @include height-width(auto, 98%);
        display: block;
        flex-direction: column;
        padding: 0;
        font-size: 1.3em;

        li{
            width: 100%;
            @include make-flex();
            justify-content: space-between;
            margin-top: 17px; /* Separación entre filas */
            padding: 11px;
            background-color: #f9f9f9; /* Fondo claro */
            border-radius: 8px; /* Bordes redondeados */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
            transition: transform 0.2s, box-shadow 0.2s; /* Animación al pasar el mouse */
        }
        li:hover {
            transform: translateY(-2px); /* Levantar ligeramente */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada */
        }
    }
}
#movements-list::-webkit-scrollbar {
    width: 5px;
}

#movements-list::-webkit-scrollbar-track {
    background: #f4f6f8; 
    border-radius: 12px;
}

#movements-list::-webkit-scrollbar-thumb {
    background: #bebdbd; 
    border-radius: 12px;
}

#movements-list::-webkit-scrollbar-thumb:hover {
    background: #aaa; 
}