@use 'mixins' as *;

.begin-message{
    @include height-width(100%, 100%);
    @include make-flex();
    flex-direction: column;
    margin-top: -30px;
}
.tittle{
    font-family: 'Nunito', sans-serif;
}
.start-button{
    margin-top: 2%;
    font-size: 22px;
    font-family: 'Nunito', sans-serif;
    @include height-width(70px, 28%);
    border: 2px solid #f8f9fa;
    background-color: rgb(199, 202, 202);
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    transition: transform 0.4s ease;
}
.start-button:hover{
    background-color: rgb(154, 182, 182);
    transform: scale(1.2);
}
